@import '../../node_modules/modern-normalize/modern-normalize';

@import 'utils/variables';
@import 'components/type';

h1,
h2,
h3,
body,
p {
    margin: 0;
}

body {
    background-color: #F7EBE8;
    overflow-x: hidden;
}

.gridcontainer3 {
    display: grid;
    grid-template-columns: 0px repeat(5, 1fr) 0px;
    column-gap: 18px;

}

.grid__eln {
    grid-column: 1/-1;
}

.grid__elo {
    grid-column: 1/-1;
}

.grid__elp {
    grid-column: 1;
    grid-row: 3/4;
}

.grid__elq {
    grid-column: 1/-1;
    grid-row: 4;
}

.grid__elr {
    grid-column: 4;
    grid-row: 3;
}

.grid__els {
    grid-column: 1/-1;
    grid-row: 4;
}

.grid__elt {
    grid-column: 6;
    grid-row: 3;
}

.grid__elu {
    grid-column: 1/-1;
    grid-row: 4;
}

.grid__elv {
    grid-column: 1/-1;
}

.grid__elw {
    grid-column: 1/-1;
}

.grid__elx {
    grid-column: 1/-1;
}

.tablette {
    display: none;
}

.pc {
    display: none;
}

.pc--burger {
    display: none;
}

.pc--cursor {
    display: none;
}

.tablette--cursor {
    display: none;
}

.header {
    padding: 29px 18px 0px;
}

.header--flex {
    display: flex;
    justify-content: space-between;
}

.titre1 {
    position: absolute;
    color: black;
    font-size: 62px;
    line-height: 72px;
    text-align: center;
    top: 12%;
    left: 25%;
    font-family: "museo-sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.titre2 {
    font-size: 29px;
    color: #D41700;
    margin-left: 18px;
    padding-top: 58px;
    font-family: "museo-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.titre3 {
    font-size: 23.5px;
    color: #D41700;
    margin-left: 18px;
    margin-top: 58px;
    font-family: "museo-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.titre3--audit {
    margin-top: 29px;
    margin-left: 0px;
    margin-bottom: 29px;
}

.paragraphe {
    color: black;
    font-family: "museo-sans", sans-serif;
    font-size: 18px;
    line-height: 29px;
    font-weight: 100;
    font-style: normal;
    margin: 29px 18px 0px 18px;

}

.paragraphe--cache1,
.paragraphe--cache2,
.paragraphe--cache3,
.paragraphe--cache4,
.paragraphe--cache5 {
    display: none;

}

.montre {
    display: block;
}

.gras {
    font-family: "museo-sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.bouton {
    display: block;
    width: 290px;
    height: 74px;
    border: solid 1px #D41700;
    border-radius: 10px;
    background-color: transparent;
    color: black;
    font-size: 18px;
    line-height: 26px;
    font-family: "museo-sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 58px;
    margin-bottom: 29px;
}

.cursor {
    position: relative;
    left: 20%;
    top: 10%;

}

.button {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: solid 1px black;
    background-color: transparent;
    cursor: pointer;

}

.button--plus {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 43px;

}

.button--fleche {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 43px;
    margin-left: 18px;

}

a {
    color: black;
    text-decoration: none;

    &:visited {
        color: #D41700;

    }
}

@media (min-width: 700px) {

    .gridcontainer2 {
        display: grid;
        grid-template-columns: 0px repeat(8, 1fr) 0px;
        column-gap: 32px;

    }

    .grid__eln {
        grid-column: 1/-1;
    }

    .grid__elo {
        grid-column: 1/-1;
    }

    .grid__elp {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    .grid__elq {
        grid-column: 1/-1;
        grid-row: 4;
    }

    .grid__elr {
        grid-column: 5;
        grid-row: 3;
    }

    .grid__els {
        grid-column: 1/-1;
        grid-row: 4;
    }

    .grid__elt {
        grid-column: 7;
        grid-row: 3;
    }

    .grid__elu {
        grid-column: 1/-1;
        grid-row: 4;
    }

    .grid__elv {
        grid-column: 1/-1;
    }

    .grid__elw {
        grid-column: 1/-1;
    }

    .grid__elx {
        grid-column: 1/-1;
    }

    .tel {
        display: none;
    }

    .tablette {
        display: block;
    }

    .tablette--cursor {
        display: initial;
    }

    .pc {
        display: none;
    }

    .pc--burger {
        display: block;
    }

    .pc--cursor {
        display: none;
    }

    .header {
        padding: 32px 32px 0px;
    }

    .header--flex {
        display: flex;
        justify-content: space-between;
    }

    .titre1 {
        position: absolute;
        color: black;
        font-size: 110px;
        line-height: 130px;
        text-align: center;
        top: 10%;
        left: 20%;
        font-family: "museo-sans", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .titre2 {
        font-size: 32px;
        color: #D41700;
        margin-left: 32px;
        padding-top: 64px;
        font-family: "museo-sans", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .titre3 {
        font-size: 26px;
        color: #D41700;
        margin-left: 32px;
        margin-top: 64px;
        font-family: "museo-sans", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .titre3--audit {
        margin-top: 32px;
        margin-left: 0px;
        margin-bottom: 32px;
    }

    .paragraphe {
        color: black;
        font-family: "museo-sans", sans-serif;
        font-size: 20px;
        line-height: 32px;
        font-weight: 100;
        font-style: normal;
        margin: 32px 32px 0px 32px;

    }

    .paragraphe--cache1,
    .paragraphe--cache2,
    .paragraphe--cache3,
    .paragraphe--cache4,
    .paragraphe--cache5 {
        display: none;

    }

    .montre {
        display: block;
    }

    .gras {
        font-family: "museo-sans", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .bouton {
        display: block;
        width: 370px;
        height: 94px;
        border: solid 1px #D41700;
        border-radius: 10px;
        background-color: transparent;
        color: black;
        font-size: 20px;
        line-height: 29px;
        font-family: "museo-sans", sans-serif;
        font-weight: 500;
        font-style: normal;
        cursor: pointer;
        margin: 0 auto;
        margin-top: 64px;
        margin-bottom: 32px;
    }

    .cursor {
        position: relative;
        left: 26%;
        top: 10%;

    }

    .button {
        width: 45px;
        height: 45px;
        border-radius: 100%;
        border: solid 1px black;
        background-color: transparent;
        cursor: pointer;

    }

    .button--plus {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 48px;

    }

    .button--fleche {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 48px;
        margin-left: 32px;

    }

    a {
        color: black;
        text-decoration: none;
        font-size: 19px;

        &:visited {
            color: #D41700;

        }
    }

}

@media (min-width: 800px) {
    .titre1 {
        top: 15%;
    }
}

@media (min-width: 1000px) {
    .titre1 {
        left: 12%;
    }
}

// @media (max-width:1279px) {

.topnav__burger {
    z-index: 1000;
    cursor: pointer;
    position: sticky;
    border: none;
    background-color: transparent;
}

.topnav__liste {
    margin: 0;
    padding: 0;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    transition: all .6s cubic-bezier(1, .19, .02, .99);
    transform: translateY(0);
    display: inline-block;
    list-style: none;
    background-color: #F7EBE8;

}

.topnav__el {
    font-family: "museo-sans", sans-serif;
    font-size: 18px;
    line-height: 29px;
    font-weight: 100;
    font-style: normal;
    padding: 60px 0px;
    text-align: center;
    margin-right: 15%;
    transform: translateY(0%);
    opacity: 0;
    transition: all .6s cubic-bezier(1, .19, .02, .99);
}

.topnav--open .topnav__liste {
    transform: translateX(-80%);
}

.topnav--open .topnav__el {
    transform: translateY(0);
    opacity: 1;
}

.topnav--open .topnav__el:nth-child(1) {
    padding-top: 150px;
    transition-delay: 0.5s;
}

.topnav--open .topnav__el:nth-child(2) {
    transition-delay: 0.7s;
}

.topnav--open .topnav__el:nth-child(3) {
    transition-delay: 0.9s;
}


// }

@media (min-width: 1280px) {

    .gridcontainer {
        display: grid;
        grid-template-columns: 0px repeat(12, 1fr) 0px;
        column-gap: 51px;

    }

    .grid__ela {
        grid-column: 2/8;
    }

    .grid__elb {
        grid-column: 2/10;
    }

    .grid__elc {
        grid-column: 7/-2;
    }

    .grid__eld {
        grid-column: 3/11;
    }

    .grid__ele {
        grid-column: 5;
    }

    .grid__elf {
        grid-column: 6/13;
    }

    .grid__elg {
        grid-column: 2/9;
    }

    .grid__elh {
        grid-column: 2/10;
    }

    .grid__eli {
        grid-column: 7/-2;
    }

    .grid__elj {
        grid-column: 7/-2;
    }

    .grid__elk {
        grid-column: 3/9;
    }

    .grid__ell {
        grid-column: 10;
    }

    .grid__elm {
        grid-column: 6/14;
    }

    .grid__eln {
        grid-column: 2/10;
    }

    .grid__elo {
        grid-column: 2/9;
    }

    .grid__elp {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    .grid__elq {
        grid-column: 9/14;
        grid-row: 2/4;
    }

    .grid__elr {
        grid-column: 5;
        grid-row: 3;
    }

    .grid__els {
        grid-column: 9/14;
        grid-row: 2/4;
    }

    .grid__elt {
        grid-column: 7;
        grid-row: 3;
    }

    .grid__elu {
        grid-column: 9/14;
        grid-row: 2/4;
    }

    .grid__elv {
        grid-column: 2/8;
    }

    .grid__elw {
        grid-column: 2/9;
    }

    .grid__elx {
        grid-column: 7/-2;
    }



    .topnav {
        position: absolute;
        right: 51px;

    }

    .header {
        padding: 56px 51px 0px;
        height: 100vh;

    }

    .header--flex {
        display: flex;
        justify-content: space-between;
    }

    .tel {
        display: none;
    }

    .tablette {
        display: none;
    }

    .pc {
        display: block;
        position: absolute;
        bottom: 0%;
    }

    .pc--burger {
        display: block;
    }

    .pc--cursor {
        opacity: 1;
        display: initial;
    }

    .tablette--cursor {
        display: none;
    }


    .titre1 {
        position: absolute;
        color: black;
        font-size: 131px;
        line-height: 72px;
        text-align: center;
        top: 14%;
        left: 25%;
        font-family: "museo-sans", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .titre1--1 {
        position: absolute;
        top: 20px;
        left: 50px;
    }

    .titre1--2 {
        position: absolute;
        left: 429px;
        top: 202px;
    }

    .titre1--3 {
        position: absolute;
        top: 349px;
        left: 140px;
    }

    .titre1--4 {
        position: absolute;
        top: 496px;
        left: 522px;
    }


    .titre2 {
        font-size: 56px;
        color: #D41700;
        margin-left: 0px;
        padding-top: 112px;
        font-family: "museo-sans", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .titre3 {
        font-size: 39px;
        color: #D41700;
        margin-left: 0px;
        margin-top: 56px;
        font-family: "museo-sans", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .titre3--audit {
        margin-top: 35px;
        margin-left: 0px;
        margin-bottom: 35px;
    }

    .paragraphe {
        color: black;
        font-family: "museo-sans", sans-serif;
        font-size: 22px;
        line-height: 35px;
        font-weight: 100;
        font-style: normal;
        margin: 56px 0px 0px 0px;

    }

    .paragraphe--cache1,
    .paragraphe--cache2,
    .paragraphe--cache3,
    .paragraphe--cache4,
    .paragraphe--cache5 {
        display: none;

    }

    .montre {
        display: block;
    }

    .gras {
        font-family: "museo-sans", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .bouton {
        display: block;
        width: 526px;
        height: 134px;
        border: solid 1px #D41700;
        border-radius: 10px;
        background-color: transparent;
        color: black;
        font-size: 29px;
        line-height: 40px;
        font-family: "museo-sans", sans-serif;
        font-weight: 500;
        font-style: normal;
        cursor: pointer;
        margin: 0 auto;
        margin-top: 112px;
        margin-bottom: 56px;
    }

    .cursor {
        position: relative;
        left: 27%;
        top: 10%;

    }

    .button {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: solid 1px black;
        background-color: transparent;
        cursor: pointer;

    }

    .button--plus {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 56px;

        &:hover {
            width: 55px;
            height: 55px;
        }

    }

    .button--fleche {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 56px;
        margin-left: 0px;

        &:hover {
            width: 55px;
            height: 55px;
        }
    }

    a {
        color: black;
        text-decoration: none;
        font-size: 20px;

        &:visited {
            color: #D41700;

        }
    }

}